body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 100%;
}

header{
    background: linear-gradient(to bottom right, pink, yellow, pink, purple);
    margin: 10px 5px;
    padding: 15px 0;
    border-bottom: 3px solid purple;
    color: purple;
    text-align: right;
}

footer{
    background: linear-gradient(to top left, pink, yellow, pink, purple);
    margin: 10px 5px;
    padding: 10px 0;
    color: purple;
    text-align: center;
    border-top: 3px solid purple;
}

nav {
    float: left;
    width: 15%;
    margin: 10px 15px;
    padding: 5px;
    background: linear-gradient(to bottom right, pink, yellow, pink, purple);
    border-color: purple;
    border-style: solid;
    border-width: 3px 0px;
}

nav:hover {
    background: linear-gradient(to top left, pink, yellow, pink, purple);
}

nav ul li {
    list-style: square;
    line-height: 2;
}

nav ul li a:hover {
    background-color: purple;
    color: #fff;
    font-weight: bold;
    padding: 1%;
}

section {
    display: inline-block;
    width: 50%;
    margin: 10px;
    padding: 5px;
}

aside {
    float: left;
    width: 20%;
    margin: 10px;
    padding: 5px;
}

aside p {
    color: purple;
}